{% extends '::frontend2.html.twig' %}

{% block title %}Aplicacion{% endblock %}
{% block id 'compras' %}
{% block header1 %}{% endblock %}
{% block header %} 

<header id="header1">
    
    <div class="container_foto">
       <IMG src="/bundles/espacio/images/IconoV.png">
    </div>
    <div class="container_169">
    <ul>  
        <li class="green">  
            <p><a href="{{ path('usuario_aplicacion')}}">Inicio</a></p>  
            <p class="subtext">Página Principal</p>  
        </li>  
        <li class="yellow">  
            <p><a href="{{ path('usuario_perfil') }}">Perfil</a></p>  
            <p class="subtext">Consulta tus datos</p>  
        </li>  
        <li class="red">  
            <p><a href="{{ path('usuario_reservas') }}">Reservas</a></p>  
            <p class="subtext">Espacios Alquilados</p>  
        </li>  
        <li class="blue">  
            <p><a href="{{ path('usuario_incidencias') }}">Incidencias</a></p>  
            <p class="subtext">¿Hay algún problema?</p>  
        </li>  
        <li class="purple">  
            <p><a href="{{ path('usuario_juntas') }}">Juntas</a></p>  
            <p class="subtext">Próximas convocatorias</p>  
        </li>  
        <li class="rosa">  
            <p><a href="{{ path('usuario_logout') }}">Salir</a></p>  
            <p class="subtext">Cerrar sesión</p>  
        </li>
    </ul>  
{% endblock %}

{% block article %}
{% endblock %}

{% block aside %}
    {{ parent() }}

{% endblock %}
            
 