 <!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>{% block title %}{% endblock %} | Vecinos2.0</title>
    {% block stylesheets %}{% endblock %}
    {% block rss %}{% endblock %}
    <link rel="shortcut icon" href="{{ asset('favicon.png') }}" />
    
</head>

<body id="{% block id '' %}"><div id="contenedor">
    {% block header1 %}
    <header id="header">
    <div class="container_16">
    {% endblock %}
    {% block header %}
    {% endblock %}
    </div>
    </header>
    
    {% block body %}{% endblock %}
    <div class="container_16">
    <footer>
        &copy; {{ 'now'|date('Y') }} - Vecinos2.0
        <a href="{{ path('estatica', { 'pagina': 'ayuda' }) }}">{{ "Ayuda" | trans }}</a>
        <a href="{{ path('contacto') }}">{{ "Contacto" | trans }}</a>
        <a href="{{ path('estatica', { 'pagina': 'privacidad' }) }}">{{ "Privacidad" | trans }}</a>
        <a href="{{ path('estatica', { 'pagina': 'sobre-nosotros' }) }}">{{ "Sobre nosotros" | trans }}</a>
        
        {% set locale = app.request.session.locale %}
     
    </footer>
    </div>
    {% block javascripts %}{% endblock %}
</div></body>

</html>