<div class="grid_2 alpha">
  {{ incidencia.hora |  date('H:i') }} - {{ incidencia.fecha|date('Y/m/d') }}
</div>
<div class="grid_10 omega">
  <p>Titulo: {{ incidencia.titulo }}</p>
</div>
<div class="grid_12 omega">
    
  <p>Autor: {{ incidencia.usuario }}  </p>
</div>
<div class="grid_3 omega">
  <p>Gravedad: {{ incidencia.gravedad }}</p>
</div>
<div class="grid_11 omega">
  <p>Descripción: {{ incidencia.descripcion | raw }}</p>
</div>

{% if incidencia.foto != 'sinfoto' %}
<div class="grid_3 omega">
  
  <IMG src="/uploads/images/{{ incidencia.foto }}">
</div>
{% endif %}



____________________