{% extends '::app.html.twig' %}

{% block id 'oferta' %}
{% block title %}{{ accion == 'crear' ?
    'Crear una nueva incidencia'
    :
    'Modificar la incidencia ' ~ incidencia.nombre
}}{% endblock %}

{% block article %}
<h1>{{ block('title') }}</h1>
{{ tinymce_init() }}

<script type="text/javascript">
    // realiza un seguimiento de cuántos campos de archivo se han pintado
    var archivoCount = '{{ formulario.archivos | length }}';

    jQuery(document).ready(function() {
        jQuery('#agregar_campo_file').click(function() {
            var archivoList = jQuery('#archivos-fields-list');

            // graba la plantilla prototipo
            var newWidget = archivoList.attr('data-prototype');
            // sustituye el "__name__" usado en el id y name del prototipo con un
            // número que es único en tus correos termina con el
            // atributo name viéndose como name="contact[archivos][2]"
            newWidget = newWidget.replace(/\$\$name\$\$/g, archivoCount);
            archivoCount++;

            // crea un nuevo elemento lista y lo añade a nuestra lista
            var newLi = jQuery('<li></li>').html(newWidget);
            newLi.appendTo(jQuery('#archivos-fields-list'));

                return false;
        });
    })
</script>


<form action="{{ path('usuario_incidencia_nueva') }}" method="post" {{ form_enctype(formulario) }}>
   
    <div>
    {{ form_errors(formulario) }}
    
    <div>
        {{ form_label(formulario.titulo) }}
        {{ form_errors(formulario.titulo) }}
        {{ form_widget(formulario.titulo, { 'attr': { 'class': 'largo' } }) }}
    </div>
    
    <div>
        {{ form_label(formulario.descripcion, 'Descripción') }}
        {{ form_errors(formulario.descripcion) }}
        {{ form_widget(formulario.descripcion) }}
        
        <p class="ayuda">Procure que sea una descripción lo más detalla posible.</p>
    </div>
            
    <div>
        {{ form_label(formulario.tags, 'Tags') }}
        {{ form_errors(formulario.tags) }}
        {{ form_widget(formulario.tags) }}
        
        <p class="ayuda">Añade los tags separados por comas. Ejemplo: luz, cesped, ascensor</p>
    </div>        
    

    {#<a href="#" id="add-another-email">Add another email</a>#}
    {#<div>
        {{ form_label(formulario.archivos, 'Archivos') }}
        {{ form_errors(formulario.archivos) }}
        {{ form_widget(formulario.archivos) }}
        
        <p class="ayuda">Tamaño máximo: 500 KB. Formato preferido: JPEG.</p>
    </div>#}

    <div>
        {{ form_label(formulario.fecha, 'Fecha') }}
        {{ form_errors(formulario.fecha) }}
        {{ form_widget(formulario.fecha, { 'attr': { 'class': 'date' } }) }}
        
    </div>
         {{ form_row(formulario.fecha) }}
            
    <div>
        {{ form_label(formulario.hora, 'Hora') }}
        {{ form_errors(formulario.hora) }}
        {{ form_widget(formulario.hora, { 'attr': { 'class': 'corto' } }) }}
        
    </div>
     <div>
        {{ form_label(formulario.gravedad, 'Gravedad') }}
        {{ form_errors(formulario.gravedad) }}
        {{ form_widget(formulario.gravedad) }}
        
    </div>       
            
    
         {# almacena el prototipo en el atributo data-prototype #}
    <ul id="archivos-fields-list" data-prototype="{{ form_widget(formulario.archivos.get('prototype')) | e }}">
    {% for archivoField in formulario.archivos %}
        <li>
            {{ form_errors(archivoField) }}
            {{ form_widget(archivoField) }}
        </li>
    {% endfor %}
    </ul>
     <input class="botono" id="agregar_campo_file" value="Agregar archivo" />       
    {{ form_rest(formulario) }} 

    
    <div>
     <input class="boton" type="submit" value="{{ accion == 'crear' ? 'Crear incidencia' : 'Guardar cambios' }}" />
    </div>
</form>
{% endblock %}

{% block aside %}


<section id="faq">
    <h2>Preguntas frecuentes</h2>
    
    <div id="accordion">
	<h3><a href="#">¿Cuánto tarda en ver el presidente la nueva incidencia?</a></h3>
	<div>
		<p>Después de crear la incidencia, le llega de forma automática un correo al presidente de la comunidad. Así se consigue que este este informado a la mayor brevedad posible.</p>
	</div>
	<h3><a href="#">¿Cuánto tarda en resolverse una incidencia?</a></h3>
	<div>
		<p>El periodo de resolución es variable, dependiendo de la gravedad de la incidencia. Desde la junta directiva se intentará resolver lo antes posible. </p>
	</div>
	<h3><a href="#">¿Cómo clasificar la gravedad de una incidencia?</a></h3>
	<div>
		<dd>Hay tres tipos de incidencias:</dd>
                <dd>Leve:son pequeñas incidencias que temporalmente no son necesarias de resolver . Ejemplo: rotura de la valla de pádel o que una parde este esconchada</dd>
                <dd>Media:incidencias que afectan a algunos usuarios de la comunidad, que les privan de algunos servicios pero que no son urgentes. Ejemplo:Pista de Pádel sin red</dd>
                <dd>Grave:incidencias que deben saldarse con urgencia. Ejemplo:Robo en una vivienda: Contratación de seguridad privada.</dd>
	</div>
	
</div>
    
</section>
{% endblock %}