<div class="grid_2 alpha">
  {{ junta.fecha|date('d/m/Y') }} - 1º Convocatoria: {{ junta.hora1|date('H:i') }} , 2º Convocatoria: {{ junta.hora2|date('H:i') }}
</div>
<div class="grid_111 alpha">
</div><br>
<div class="grid_10 omega">
  <p>Titulo: {{ junta.titulo }}</p>
</div>
<div class="grid_3 omega">
  <p>Lugar de reunión: {{ junta.lugar }}</p>
</div>
<div class="grid_11 omega">
  <a target="_blank" href="{{ junta.path }}">Consultar en pdf </a>
</div>

____________________