{% extends '::frontend2.html.twig' %}

{% block id 'junta' %}
{% block title %}{{ accion == 'crear' ?
    'Añadir una nueva junta'
    :
    'Modificar la junta ' ~ junta.titulo
}}{% endblock %}

{% block article %}
<h1>{{ block('title') }}</h1>
{{ tinymce_init() }}

<form action="{{ path('usuario_junta_nueva') }}" method="post" {{ form_enctype(formulario) }}>
    <div>
    {{ form_errors(formulario) }}
    
    <div>
        {{ form_label(formulario.titulo) }}
        {{ form_errors(formulario.titulo) }}
        {{ form_widget(formulario.titulo) }}
    </div>
    
    <div>
        {{ form_label(formulario.descripcion, 'Orden del Día') }}
        {{ form_errors(formulario.descripcion) }}
        {{ form_widget(formulario.descripcion) }}
        
        {# <p class="ayuda">Escribe cada característica en una línea.</p> #}
    </div>
    
    <div>
        {{ form_label(formulario.fecha) }}
        {{ form_errors(formulario.fecha) }}
        {{ form_widget(formulario.fecha) }}
        
        {# <p class="ayuda">Ejemplos: máximo 1 consumición por persona; No acumulable a otras ofertas; Debe consumirse en el propio local; etc.</p> #}
    </div>

    <div>
        {{ form_label(formulario.hora1, 'Hora 1ª Convocatoria') }}
        {{ form_errors(formulario.hora1) }}
        {{ form_widget(formulario.hora1) }}
        
        {# <p class="ayuda">Ejemplos: máximo 1 consumición por persona; No acumulable a otras ofertas; Debe consumirse en el propio local; etc.</p> #}
    </div>
            
    <div>
        {{ form_label(formulario.hora2, 'Hora 2º Concovatoria') }}
        {{ form_errors(formulario.hora2) }}
        {{ form_widget(formulario.hora2) }}
    </div>        
    
    {#<div>
        {{ form_label(formulario.usuarios) }}
        {{ form_errors(formulario.usuarios) }}
        {{ form_widget(formulario.usuarios) }}
        
        {# <p class="ayuda">Ejemplos: máximo 1 consumición por persona; No acumulable a otras ofertas; Debe consumirse en el propio local; etc.</p>
    </div>#}
    
    {{ form_rest(formulario) }}
    
    <input class="boton" type="submit" value="{{ accion == 'crear' ? 'Crear junta' : 'Guardar cambios' }}" />
    </div>
</form>
{% endblock %}

{% block aside %}
<section id="faq">
    <h2>Preguntas frecuentes</h2>
    
    <dl>
        <dt>¿Lorem ipsum dolor sit amet?</dt>
        <dd>Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</dd>
        <dt>¿Ut enim ad minim veniam?</dt>
        <dd>Quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</dd>
        <dt>¿Excepteur sint occaecat cupidatat non proident?</dt>
        <dd>Sunt in culpa qui officia deserunt mollit anim id est laborum.</dd>
    </dl>
</section>
{% endblock %}