<strong>Comunidad de Propietarios<br>
Guadal bullón 19<br>
41013 Sevilla                                                                                      <p align="right"> Sevilla, a  {{ 'today' | date | trans('es') }} </p></strong>


<p> Estimadas vecinas y vecinos: </p>

<p>Por la presente, me dirijo a Vd. Para comunicarle que el próximo día {{ junta.fecha | date('d/m/Y') }}, a las {{ junta.hora1 |date('H:i') }}
horas en 1ª Convocatoria y a las {{ junta.hora2 |date('H:i') }} horas en 2ª Convocatoria, tendrá lugar reunión de Junta
General Ordinaria, el lugar de dichar reunión será en {{ junta.lugar }}, para tratar lo siguiente:</p>

<strong><p align="center">Orden del Día</p></strong><br>
{{ junta.descripcion  | raw }}
<br>
    
<p>Se recuerda a todos los propietarios que, según el Art. 15.2 de la Ley de Propieda Horizontal, <strong>"los propietarios
que en el momento de iniciarse la Junta no se encontrasen al corriente de pago de todas las deudas vencidas con
la Comunidad y no hubiesen impugnado judicialmente las mismas o procedido a la consignación judicial o notarial
de la suma adeudada, PODRÁN participar en sus deliberaciones, si bien NO TENDRÁN DERECHO A VOTO".</strong>
        Por la importancia de los asuntos a tratar, le agradeceré tenga a bien acudir a la citada Junta de Propietarios,
con el fin de participar en la Organización de la Comunidad.
En la espera de su puntual asistencia, le saluda muy atentamente</p>

<br>    
<br>
<br>
        
  
                                                                             
    <p align="center">Fdo: El presidente</p>
-----------------------------------------------------------------------------------------------------------------------------------<br>


<p>D. __________________________________________________ propietario del piso ______________ autoriza
a D. _____________________________________________________ para que me represente en la citada reunión.</p>





<p align="right">Fdo: _________________________________________ </p>





<fn> © 2012 - Vecinos2.0 </fn>