{% extends '::app.html.twig' %}

{% block title %}Aplicacion{% endblock %}
{% block id 'compras' %}
{% block header %}
  <h1><a href="{{ path('usuario_aplicacion')}}">Vecinos2.0 </a></h1>

  <nav class="grid_101">
  <ul>
    <li><a href="{{ path('usuario_reservas') }}">Reservas</a></li>
    <li><a href="{{ path('usuario_incidencias') }}">Incidencias</a></li>

   
    <li><a href="{{ path('usuario_perfil') }}">Perfil</a></li>
   

    <li><a href="{{ path('usuario_juntas') }}">Juntas</a></li>

    {% if app.user %}
    <li><a href="{{ path('usuario_logout') }}">Salir</a></li>
    {% endif %}
  </ul>
  </nav>
{% endblock %}

{% block article %}
{% endblock %}

{% block aside %}
    {{ parent() }}

    <section id="nosotros">
        <h2>Sobre nosotros</h2>
         <p>Somos una empresa joven y dinámica, que apuesta por la implantación de las nuevas tecnologías en la vida diaria de las personas, para favorecer todas las tareas cotidianas que surgen en ella y responder de una forma más rápida y eficaz .</p>
        <p>Creemos firmemente que si controlamos de una forma óptima toda la información que nos llega, podremos reducir en tiempo, dinero y esfuerzo.</p>
    </section>
{% endblock %}