{% extends '::base.rss.twig' %}

{% block title %}{% spaceless %}
       Vecinos2.0 - Incidencias recientes
{% endspaceless %}{% endblock %}
        
{% block url %}{% spaceless %}
        {{ url('usuario_incidencias') }}
{% endspaceless %}{% endblock %}
        
{% block descripcion %}{% spaceless %}
        Las incidencias más recientes creadas
{% endspaceless %}{% endblock %}

{% block self %}{% spaceless %}
        {{ url('usuario_incidencias', { '_format': 'rss' }) }}
{% endspaceless %}{% endblock %}

{% block items %}
        {% for incidencia in incidencias %}
        {#{% set urlAbsolutaFoto = 'http://'
                                                    ~ app.request.server.get('SERVER_NAME')
                                                    ~ asset(directorio_imagenes ~ oferta.foto) %}#}
        <item>
            <title>{{ incidencia.titulo }}</title>
            {#<link>{{ url('oferta', { 'ciudad': oferta.ciudad.slug,
                                                    'slug': oferta.slug }) }}</link>#}
            <description><![CDATA[
                {#<img alt="" src="{{ urlAbsolutaFoto }}"/>#}
                {{ incidencia.descripcion }}
                {#<a target="_blank" href="__DIR__ . '/../../../../pdfs/{{ junta.path }}">Consultar en pdf </a>#}
            ]]></description>
            <pubDate>{{ incidencia.fecha | date('r') }}</pubDate>
            <guid>{{ url('usuario_incidencias', { '_format': 'rss' }) }}</guid>
        </item>
        {% endfor %}
{% endblock %}
