{% extends '::app.html.twig' %}

{% block title %}Incidencias de la comunidad{% endblock %}
{% block id 'incidencias' %}

{% block rss %}
<link rel="alternate" type="application/rss+xml" title="RSS de las incidencias" href="{{ path('usuario_incidencias', { '_format': 'rss' }) }}" />
{% endblock %}

{% block article %}
    <h1>{{ block('title') }}</h1>
    {% if app.session.hasFlash('incidencia') %}
    <center class="inci">
        {{ app.session.getFlash('incidencia') }}
    </center>
    {% endif %} 
    
   
    <div id="anuncio"><a class="boton" href="{{ path('usuario_incidencia_nueva') }}">{{ "Nueva incidencia" | trans }}</a></div>
   
    {% for incidencia in incidencias %}
    {% if incidencia.resuelta == '0' %} {# te muestra solo las incidencias no resueltas #}
    
    <div>
           {% include 'IncidenciaBundle:Default:bloqueGrande.html.twig' %}
    </div>

        
    <br>
    {% endif%}
    
    {% endfor %}
       
        {{ simple_paginator_render('usuario_incidencias', null, {
'container_class': 'paginador',
'previousPageText': 'Anterior',
'nextPageText': 'Siguiente',
'currentClass': 'actual',
'firstPageText': 'Primera',
'lastPageText': 'Última'
}) }}
    
{% endblock %}
    



{% block aside %}
    {{ parent() }}

    {% render "IncidenciaBundle:Default:sidebar" %}
   
{% endblock %}