{% extends '::app.html.twig' %}

{% block title %}Incidencias de la comunidad{% endblock %}
{% block id 'incidencias' %}


{% block article %}
    <h1>{{ block('title') }}</h1>
    {% if app.session.hasFlash('incidencia') %}
    <center class="inci">
        {{ app.session.getFlash('incidencia') }}
    </center>
    {% endif %} 
    
   
    <div id="anuncio"><a class="boton" href="{{ path('usuario_incidencia_nueva') }}">{{ "Nueva incidencia" | trans }}</a></div>
   
    {% for incidencia in incidencias %}
    {% if incidencia.resuelta == '0' %} {# te muestra solo las incidencias no resueltas #}
    
    <div>
           {% include 'IncidenciaBundle:Default:bloqueGrande.html.twig' %}
    </div>

        
    <br>
    {% endif%}
        {% endfor %}
  
{% endblock %}
    



{% block aside %}
    {{ parent() }}

    <section id="nosotros">
        <h2>Sobre nosotros</h2>
     <p>Somos una empresa joven y dinámica, que apuesta por la implantación de las nuevas tecnologías en la vida diaria de las personas, para favorecer todas las tareas cotidianas que surgen en ella y responder de una forma más rápida y eficaz .</p>
        <p>Creemos firmemente que si controlamos de una forma óptima toda la información que nos llega, podremos reducir en tiempo, dinero y esfuerzo.</p>
    </section>
{% endblock %}