{% extends '::frontend2.html.twig' %}

{% block title %}Últimas juntas a las que has asistido{% endblock %}
{% block id 'reservas' %}

{% block article %}
    <h1>{{ block('title') }}</h1>
    
    {% if is_granted('ROLE_ADMIN') %}
    
        <div id="anuncio"><a class="boton" href="{{ path('usuario_junta_nueva') }}">{{ "Nueva junta" | trans }}</a></div>
    
    {% endif %}

    {% for junta in juntas %}
         {# Es obligatorio añadir el filtro date para que twig pueda convertir las fechas/horas a string #}
        {{ junta.titulo }} --
        {{ junta.descripcion }} --
        {{ junta.lugar }} --
        {{ junta.fecha|date('Ymd') }} --
        {{ junta.hora1|date('His') }} --
        {{ junta.hora2|date('His') }}
         </br>
    {% endfor %}
{% endblock %}

{% block aside %}
    {{ parent() }}

    <section id="nosotros">
        <h2>Sobre nosotros</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
    </section>
{% endblock %}